body {
    background: #fafbfc;
    padding: 0 24px;
    margin: 0;
    height: 100vh;
    color: rgb(34, 3, 3);
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
  }
